/* 1. 45vw 상자 정의 */
section.vw45block div.flex { 
    max-width: 45vw !important; 
}

/* 2. 55vw 상자 정의 */
section.vw55block div.flex { 
    max-width: 55vw !important; 
}

/* 3. 안쪽 텍스트 상자 고집 꺾기 */
.prose, 
.max-w-prose,
.max-w-screen-md,
.max-w-screen-lg {
    max-width: 100% !important; 
}

/* 다크모드 강제 덮어쓰기 코드는 모두 삭제되었습니다! */
